.section  {
    background-color: lemonchiffon;

}

.headers {
    color: darkblue;

}

#email {
    background-color: goldenrod;

}

#github {
    background-color: lightsteelblue;
}

#protfolio{
    background-color: darkorange;
}

img {
    width: 150px;
    height: 150px;
    padding-right: 1500;
    padding-top: 150;
}